/* adiciona a fonte que é usada no site  */
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSerif-Regular.ttf") format("truetype"),
    url("../fonts/NotoSerif-Bold.ttf") format("truetype");
}

html {
  font-size: 62.5%; /* seta o tamanho padrao de fonte para 10px */
  scroll-behavior: smooth;
}

/* Configuração */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto";
  background-color: #f5f5f5;
}

/* Reseta o peso da fonte, padding e margens dos elementos h1, h2 e h3*/
h1,
h2,
h3 {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

/* Reseta as seguintes propriedades dos elementos ul */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove padding desnessario dos elementos li */
li {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

svg {
  width: 1rem;
  height: 1rem;
}

button {
  padding: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

.site-wrapper {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------------------- */
/* Header */
/* ---------------------------------------------------------------------------------- */
.header-wrapper {
  display: flex;
  align-items: center;
  min-height: 80px;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgb(0 0 0/3%);
  box-shadow: 0px 15px 10px -15px rgb(0 0 0/3%);
}

.logo {
  font-size: 1.75rem;
}

.logo span {
  font-weight: 500;
  color: #ff0037;
}

.header-links {
  display: flex;
  gap: 4rem;
}

.nav-link {
  font-size: 1.5rem;
}

.menu-btn,
.close-menu-btn {
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  background: none;
}

.close-menu-btn {
  position: absolute;
  z-index: 20;
  right: 1rem;

  transform: translateX(150%);

  visibility: hidden;
  transition: all ease 0.5s;
}

.menu-btn svg,
.close-menu-btn svg {
  width: 3.5rem;
  height: auto;
}

/* ---------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */
/* Hero */
/* ---------------------------------------------------------------------------------- */
.hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
}

.hero-greeting {
  font-size: 8rem;
}

.hero-about-wrapper {
  width: 60%;
}

.hero-about-me {
  padding-top: 1.5rem;
  line-height: 150%;
}

.hero-links {
  display: flex;
  padding: 2rem 0;
  gap: 5rem;
}

.hero-link {
  font-size: 1.75rem;
}

.hero-link a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero-link svg {
  height: 2rem;
  width: 2rem;
  opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
/* Estilos compatilhados */
/* -------------------------------------------------------------------------- */
.site-section {
  padding: 5rem 0;
  width: 80%;
}

.section-title {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.75rem;
  padding: 1.25rem 0;
}

.section-item-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.section-item-link svg {
  width: 1.75rem;
  height: 1.75rem;
  color: #000;
  opacity: 0.5;
}

.section-title-icon {
  color: #ff0037;
}

.source-link {
  font-style: italic;
  font-size: 1.5rem;
}

/* ------------------------------------------------------------------------------------------ */
/* Fomulario de contato */
/* ------------------------------------------------------------------------------------------ */

.form-control {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 1.25rem 0;
  gap: 1rem;
}

.form-control label {
  font-size: 1.75rem;
}

.form-control input {
  padding: 0.5rem 0.5rem;
}

.form-control textarea {
  resize: none;
}

.form-btn {
  text-transform: uppercase;
  background-color: #333;
  font-weight: 500;
  border: 1px solid #333;
  color: #fff;
  padding: 1rem 2rem;
}

/* ------------------------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------------------------ */
footer p {
  font-size: 1.5rem;
  text-align: center;
}

/* ------------------------------------------------------------------------------------------ */
/* Aplica estilos para telas de até 600px de largura */
/* ------------------------------------------------------------------------------------------ */
@media (max-width: 600px) {
  .site-wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .navbar {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.03);
    padding: 8rem 1rem;
    z-index: 10;
    right: 0;
    top: 0;

    transform: translateX(100%);
    visibility: hidden;
    transition: all ease 0.5s;
  }

  .header-links {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  .hero {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-about-wrapper {
    width: 100%;
  }

  .hero-about-me {
    padding-top: 0;
  }

  .hero-links {
    gap: 0;
    justify-content: space-evenly;
  }

  .site-section {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------------------------ */
/* Aplica estilos para telas acima de 600px de largura */
/* ------------------------------------------------------------------------------------------ */
@media (min-width: 601px) {
  .menu-btn {
    display: none;
  }

  .close-menu-btn {
    visibility: hidden;
    transform: translateX(0);
  }
}

/* Classes dos eventos do menu mobile */
.show-navbar {
  transform: translateX(0);
  visibility: visible;
}

.show-close-menu-btn {
  transform: translateX(0);
  visibility: visible;
}
